@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(./fonts/fonts.css);

@layer utilities {
  /* .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #eeeeee transparent;
  } */

  .scrollbar::-webkit-scrollbar {
    width: 4px;
    /* Ширина скролбара */
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
    /* Прозрачная полоса прокрутки */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
    /* Цвет ползунка */
    border-radius: 6px;
    /* Скругленные края ползунка */
  }

  .scrollbar::-webkit-scrollbar-button {
    display: none;
    /* Убрать стрелки вверх-вниз */
  }
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Circle-Rounded', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  @apply text-blue-400;
}

* {
  box-sizing: border-box;
}