.menuContainer {
  @apply bg-violet-100 rounded-dashboard flex flex-col items-center max-w-[236px] max-h-[704px] mt-6;

  .logo {
    @apply mt-11 mb-9;
  }

  .menu {
    @apply pr-5;

    .menuItem {
      &:hover {
        @apply bg-violet-400 rounded-r-3xl;
        .link {
          @apply text-white;
        }
        .icon {
          color: white;
        }
      }
      .icon {
        color: #434b74;
        path {
          stroke: currentColor;
        }
        @apply w-6 h-6 mr-2;
      }

      .link {
        @apply flex flex-row text-base text-blue-600 w-[216px] pl-11 pt-2 pb-2 rounded-r-3xl transition cursor-pointer;
      }
      &.active {
        @apply bg-violet-400 rounded-r-3xl;
        .link {
          @apply text-white;
        }
        .icon {
          color: white;
        }
      }
    }
  }

  .containerReferal {
    @apply overflow-hidden relative max-w-[196px] max-h-[128px] mt-[50px] mb-[24px] p-[16px] rounded-[15px] flex flex-col items-center bg-gray-50;

    .titleReferal {
      @apply w-full text-left leading-[20px] pb-[4px];
    }

    .textReferal {
      @apply text-left text-[10px] leading-[12px] pb-[10px];
    }

    .imgReferal {
      @apply absolute right-0 bottom-0;
    }
  }
}
